In [1]:
import pandas as pd 
import numpy as np

In [2]:
df = pd.ExcelFile(r'Data - FF.xlsx')

In [3]:
price_sheet = pd.read_excel(df,'Price',skiprows=1,header = 0, 
                            index_col = 0, parse_dates = True)
df_price_fr = pd.read_excel(df,"Price", header = None, index_col = 0, 
                          parse_dates = True, nrows = 1)

bv_sheet = pd.read_excel(df,'Bookvalue',skiprows=1,header = 0, 
                            index_col = 0, parse_dates = True)
df_bv_fr = pd.read_excel(df,"Bookvalue", header = None, index_col = 0, 
                          parse_dates = True, nrows = 1)

mv_sheet = pd.read_excel(df,'Marketvalue',skiprows=1,header = 0, 
                            index_col = 0, parse_dates = True)
df_mv_fr = pd.read_excel(df,"Marketvalue", header = None, index_col = 0, 
                          parse_dates = True, nrows = 1)

In [5]:
df_bv_fr

,1,2,3,4,5,6,7,8,9,10,...,440,441,442,443,444,445,446,447,448,449
0,,,,,,,,,,,,,,,,,,,,,
Name,JOINT ST CO BANK - BOOK VALUE PER SHARE,VINGROUP JSC - BOOK VALUE PER SHARE,VINHOMES JSC - BOOK VALUE PER SHARE,HOA PHAT GROUP - BOOK VALUE PER SHARE,ASIA COMMERCIAL BANK - BOOK VALUE PER SHARE,JOINT STOCK COMME - BOOK VALUE PER SHARE,BAOVIET HOLDINGS - BOOK VALUE PER SHARE,FPT CORP - BOOK VALUE PER SHARE,HO CHI MINH - BOOK VALUE PER SHARE,INVESTMENT AND INDUS - BOOK VALUE PER SHARE,...,SAIGON BEER TRA - BOOK VALUE PER SHARE,TAY NGUYEN ELECTRIC - BOOK VALUE PER SHARE,VIEN DONG PHARMACEUT - BOOK VALUE PER SHARE,VIET THANG FEED JSC - BOOK VALUE PER SHARE,#ERROR,620 CHAU THOI - BOOK VALUE PER SHARE,FULIN PLASTIC INDUS - BOOK VALUE PER SHARE,SESAN 4A HYDROELE - BOOK VALUE PER SHARE,#ERROR,#ERROR

In [6]:
df_price_fr.columns = price_sheet.columns
df_bv_fr.columns = bv_sheet.columns
df_mv_fr.columns = mv_sheet.columns

In [87]:
# Price table
price = pd.concat([df_price_fr,price_sheet])
price.index.set_names('Time',inplace=True)
# Book value table
book_value = pd.concat([df_bv_fr,bv_sheet])
book_value.index.set_names('Time',inplace=True)
# Market value table
market_value = pd.concat([df_mv_fr,mv_sheet])
market_value.index.set_names('Time',inplace=True)

In [88]:
# Drop columns have full of NaN data
price.dropna(how='all',axis=1, inplace=True)
book_value.dropna(how='all',axis=1, inplace=True)
market_value.dropna(how='all',axis=1, inplace=True)

In [89]:
# Rename the columns
df_1, df_2, df_3 = pd.DataFrame({}), pd.DataFrame({}), pd.DataFrame({})

for i in price.columns:
    df_1[i.replace('(P)','').replace('VT:','')] = price[i]

for j in book_value.columns:
    df_2[j.replace('(WC05476)','').replace('VT:','')] = book_value[j]

for k in market_value.columns:
    df_3[k.replace('(MV)','').replace('VT:','')] = market_value[k]


price = df_1.copy()
book_value = df_2.copy()
market_value = df_3.copy()

In [90]:
def drop_diff_stock(df):
    list_diff_stock = []
    for i in df.columns:
        if len(i) != 3:
            list_diff_stock.append(i)
    df.drop(list_diff_stock,axis=1, inplace=True)
    return df


price = drop_diff_stock(price)
book_value = drop_diff_stock(book_value)
market_value = drop_diff_stock(market_value)

In [91]:
def check_fund_pofolio(df):
    check = 0
    for i in df.iloc[0]:
        if 'etf' in i:
            check += 1
    if check != 0:
        return False
    return True
    
print(check_fund_pofolio(price))
print(check_fund_pofolio(market_value))
print(check_fund_pofolio(book_value))

True
True
True

In [92]:
price.head()

,VCB,VIC,VHM,HPG,ACB,BID,BVH,FPT,HDB,BCM,...,NKD,PVF,PHT,TRI,CSG,SBC,TIC,DVD,VTF,VPL
Time,,,,,,,,,,,,,,,,,,,,,
Name,JST.CMLBK.FOR FRT. OF VIET NAM,VINCOM,VINHOMES,HOA PHAT GROUP,ASIA COMMERCIAL,BANK FOR INVDL.OF VTM.,BAOVIET HOLDINGS,FPT,HO CHI MINH CTDEV. JST. CMLBK.,INVESTMENT AND INDUSTRIAL DEVELOPMENT,...,NORTH KINHDO FOOD DEAD - DELIST16/12/10,PETROVIETNAM FINANCE DEAD - DELIST.24/09/13,PHUC TIEN STEEL DEAD - DELIST.24/01/13,SAI GON BEVERAGES DEAD - DELIST.10/04/12,SAI GON CABLE DEAD - DELIST.04/10/12,SAIGON BEER TRSP. DEAD - DELIST.12/02/15,TAY NGUYEN ELTY.INV. DEAD - DELIST.12/10/17,VIEN DONG PHARMACEUTICAL DEAD - DELIST.05/09/11,VIET THANG FEED DEAD - DELIST.15/12/15,VINPEARL DEAD - DELIST.26/12/11
1999-12-31 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2000-01-03 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2000-01-04 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2000-01-05 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [93]:
def drop_delist_stock(df):
    list_dead_stock = []
    j = -1
    for i in df.iloc[0]:
        j += 1
        if 'DELIST' in i:
            list_dead_stock.append(df.iloc[0].index[j])
    df.drop(list_dead_stock,axis=1,inplace=True)
    return df

price = drop_delist_stock(price)
book_value = drop_delist_stock(book_value)
market_value = drop_delist_stock(market_value)

In [94]:
# Delete first row
price = price.drop(price.index[0])
market_value = market_value.drop(market_value.index[0])
book_value = book_value.drop(book_value.index[0])

# Set index's type
price.index = price.index.astype('datetime64[ns]')
market_value.index = market_value.index.astype('datetime64[ns]')
book_value.index = book_value.index.astype('datetime64[ns]')

In [95]:
price = price.resample('BM').last()
market_value = market_value.resample('BM').last()

In [96]:
price.dropna(how='all',inplace=True)
book_value.dropna(how='all',inplace=True)
market_value.dropna(how='all',inplace=True)

In [100]:
price = price.loc['2009-01-01':'2020-12-31']
book_value = book_value.loc['2009-01-01':'2020-12-31']
market_value = market_value.loc['2009-01-01':'2020-12-31']

In [130]:
print(price.shape)
print(market_value.shape)
print(book_value.shape)

(144, 397)
(144, 397)
(144, 397)

We can see this price and market value have the same shape because their timeseries is by day, 
but the book value's timeseries is by month. 
Otherwise, there is a different amount of columns between 3 table. So we need to fix it.

In [126]:
price_columns == market_value_columns

True

In [125]:
price_columns == book_value_columns

False

In [128]:
list_common_stock = []
for i in price.columns:
    if (i in price.columns) and (i in price.columns):
        list_common_stock.append(i)

price = price[list_common_stock]
market_value = market_value[list_common_stock]
book_value = book_value[list_common_stock]

In [129]:
print(price.shape)
print(market_value.shape)
print(book_value.shape)

(144, 397)
(144, 397)
(144, 397)

In [135]:
# Only HSG code do not have the ending months of year 2020
book_value.HSG.fillna(method='ffill',limit=3,inplace=True);